.bgBlue{
    background-color: blue;
}
nav ul{
    padding: 0 !important;
}

nav{
    padding: 10px;
    background-color: black;
}

nav li{
    display: inline-block;
    text-decoration: none;
}

nav a{
    border: 1px solid rgba(0, 0, 0, 0.698);
    padding: 10px;
    margin: 5px;
    background-color: rgb(248, 194, 194);
    border-radius: 8%;
}

nav a:active{
    color: white;
}